@media screen and (min-width: 768px) {
  .about {
    width: 704px;
  }

  .about-item {
    width: 482px;
    margin-top: 32px;
  }

  .bath-room {
    max-width: 404px;
    position: absolute;
    top: 209px;
    right: 0px;
  }

  .pic {
    top: 176px;
    left: 370px;
    z-index: 1;
  }

  .table-pic {
    margin-left: 174px;
  }
  .picture {
    left: 67px;
  }

  .room {
    max-width: 266px;
    height: 309px;
  }

  .hotel-item {
    display: flex;
    flex-direction: row-reverse;
    max-width: 704px;
  }

  .hotel-title {
    margin-right: 143px;
  }

  .title-about {
    margin-top: 0px;
  }
}
