@media screen and (min-width: 768px) {
  .about {
    width: 704px;
    background-color: aqua;
  }

  .about-item {
    width: 482px;
  }

  .bath-room {
    max-width: 404px;
    position: absolute;
    top: 209px;
    right: 0px;
  }

  .pic {
    top: 176px;
    left: 370px;
    z-index: 1;
  }
}
